node_modules/
android/build/
android/app/build/
ios/build/
.expo/
*.apk
*.aab
*.ipa
node_modules/
**/node_modules/
android/build/
android/app/build/
ios/build/
.expo/
*.apk
*.aab
*.ipa
.DS_Store
**/.DS_Store
.kotlin/
